
body, h1, p {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.wrapper {
    text-align: center;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
span {
    font-size: 36px;
    display: block;
    margin-bottom: 10px;
}

#joke {
    font-size: 18px;
    margin-bottom: 20px;
}
#btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
#btn:hover {
    background-color: #2980b9;
}
